[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "omf/eseal"]
	path = omf/eseal
	url = https://github.com/isinyaaa/fish-eseal
	branch = main
[submodule "config/polybar/polybar-scripts"]
	path = config/polybar/polybar-scripts
	url = https://github.com/polybar/polybar-scripts
